[Desktop Entry]
Name=qssgram Desktop
Comment=Desktop version of QssGram - ToS breaking Telegram client
TryExec=qssgram
Exec=env DESKTOPINTEGRATION=1 qssgram -- %U
Icon=com.qssgram.desktop
Terminal=false
StartupWMClass=qssgram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=qssgram -quit
Name=Quit qssgram
Icon=application-exit
